<!DOCTYPE html>
 

<!-- wwFront:start -->
<html class="" lang="<%= htmlWebpackPlugin.options.lang %>">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=0" />
        <base
            href="<%= htmlWebpackPlugin.options.baseTag?.href %>"
            target="<%= htmlWebpackPlugin.options.baseTag?.target %>"
        />

        <% if (htmlWebpackPlugin.options.title) { %>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% } %>

        <link rel="icon" type="image/x-icon" href="favicon.ico?_wwcv=<%= htmlWebpackPlugin.options.cacheVersion %>" />

        <link rel="manifest" href="manifest.json?_wwcv=16" />
        <meta name="theme-color" content="" />
        
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="public/fonts/Phosphor/font.css?_wwcv=16" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<style>:root{ --ww-default-font-family: 'Inter', sans-serif }</style>
        
        <link href="https://cdn.weweb.app/public/libs/weweb-icons/css/weweb-icons.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="https://cdn.weweb.app/public/libs/font-awesome/5.6.3/css/fontawesome.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="https://cdn.weweb.app/public/libs/font-awesome/5.6.3/css/fontawesome.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="https://cdn.weweb.app/public/libs/font-awesome/5.6.3/css/fontawesome.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="https://cdn.weweb.io/public/icons/heroicons/1.0.0/style.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="https://cdn.weweb.io/public/icons/phosphor/1.0.0/regular/phosphor-style.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <% for (let link of htmlWebpackPlugin.options?.alternateLinks || []) { %>
        <link rel="<%= link.rel %>" hreflang="<%= link.hreflang %>" href="<%= link.href %>" />
        <% } %> <% if (htmlWebpackPlugin.options.structuredData) { %>
        <script type="application/ld+json">
            <%= htmlWebpackPlugin.options.structuredData %>
        </script>
        <% } %> <%= htmlWebpackPlugin.options.scripts?.head %>
    </head>
    <body style="margin: 0; font-family: var(--ww-default-font-family, unset)">
        <noscript>
            <strong>
                We're sorry but this website doesn't work properly without JavaScript enabled. Please enable it to
                continue.
            </strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <%= htmlWebpackPlugin.options.scripts?.body %>
    </body>
</html>
<!-- wwFront:end -->
